<div class="container">
  <div class="columns">
    <div class="col-1">
      <button class="btn btn-md" data-bind="click: editConfig, disable: isEditing" style="width: 100%">Edit</button>
    </div>

    <div class="divider-vert"></div>

    <div class="col-1">
      <button class="btn btn-md" data-bind="click: cancelEditing, enable: isEditing" style="width: 100%">Cancel</button>
    </div>

    <div class="divider-vert"></div>

    <div class="col-1">
      <button class="btn btn-md" data-bind="click: saveConfig, enable: isEditing" style="width: 100%">Save</button>
    </div>

    <div class="divider-vert"></div>

    <div class="col-9"></div>

  </div>
</div>

<div class="form-horizontal" data-bind="foreach: fields">
  <div class="form-group">
    <div class="col-3">
      <label data-bind="text: label" class="form-label"></label>
    </div>
    <div class="col-4">
      <!-- ko if: type === 'text' -->
      <input type="text" class="form-input" data-bind="textInput: value, css: style, enable: $parent.isEditing" />
      <!-- /ko -->

      <!-- ko if: type === 'dropdown' -->
      <select class="form-select" data-bind="options: options, optionsText: 'text', value: value, css: style, enable: $parent.isEditing"></select>
      <!-- /ko -->

    </div>
    <div class="col-5"></div>
  </div>
</div>