<div class="container">
  <div class="columns">
    <div class="column col-2"><b>Id</b></div>
    <div class="column col-10" data-bind="text: container().id"></div>

    <div class="column col-2"><b>Image</b></div>
    <div class="column col-10" data-bind="text: container().image"></div>

    <div class="column col-2"><b>State</b></div>
    <div class="column col-10" data-bind="text: container().state"></div>

    <div class="column col-2"><b>Status</b></div>
    <div class="column col-10" data-bind="text: container().status"></div>

    <div class="column col-2"><b>Urls</b></div>
    <div class="column col-10" data-bind="foreach: combinedUrls">
      <div>
        <b data-bind="text: port"></b>
        <a data-bind="attr: { href: internal }, text: internal" target="_blank"></a>
        &nbsp;|&nbsp;
        <a data-bind="attr: { href: external.withoutPort }, text: external.withoutPort" target="_blank"></a>
        &nbsp;|&nbsp;
        <a data-bind="attr: { href: external.withoutPort }, text: external.withPort" target="_blank"></a>
      </div>
    </div>

    <div class="column col-2"><b>Data In/Out</b></div>
    <div class="column col-10">
      <span data-bind="text: container().stats.mbIn"></span> /
      <span data-bind="text: container().stats.mbOut"></span>
    </div>
  </div>
</div>