<div class="container">
  <div class="columns">
    <div class="col-2">
      <button class="btn btn-md" data-bind="click: showCreateModal">Create</button>
      <button class="btn btn-md" data-bind="click: refresh">Refresh</button>
    </div>

    <div class="col-10">
    </div>
  </div>
</div>

<table class="table" style="table-layout: fixed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Repository</th>
      <th>Dockerfile</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: applications">
    <tr class="active">
      <td data-bind="click: function() { displayImages(!displayImages()) }" style="cursor: pointer">
        <span data-bind="visible: displayImages() === false">▶</span>
        <span data-bind="visible: displayImages() === true">▼</span>
        <span data-bind="text: name"></span>
        <span data-bind="visible: images().length > 0 && displayImages() === false, text: images().length + ' hidden'" style="color: #999; float: right"></span>
      </td>
      <td data-bind="text: label, click: function() { displayImages(!displayImages()) }" style="cursor: pointer"></td>
      <td data-bind="text: repository, click: function() { displayImages(!displayImages()) }" style="cursor: pointer"></td>
      <td data-bind="text: dockerfile, click: function() { displayImages(!displayImages()) }" style="cursor: pointer"></td>
      <td>
        <button class="btn btn-md" data-bind="click: $parent.showDeployModal">Build</button>
        <button class="btn btn-md" data-bind="click: $parent.showEditModal">Edit</button>
        <button class="btn btn-md" data-bind="click: $parent.removeApplication">Remove</button>
        <button class="btn btn-md" data-bind="click: $parent.showLogsModal">Logs</button>
      </td>
    </tr>

    <tr data-bind="visible: displayImages">
      <td colspan="4">

        <table class="table" style="table-layout: fixed">
          <tr>
            <td style="padding: 3px">
              <b>Branch</b>
            </td>
            <td style="padding: 3px">
              <b>SHA</b>
            </td>
            <td style="padding: 3px">
              <b>Image ID</b>
            </td>
            <td style="padding: 3px">
              <b>Status</b>
            </td>
            <td style="padding: 3px"></td>
          </tr>

          <!-- ko foreach: remotes -->
          <tr data-bind="visible: $parent.displayImages">
            <td data-bind="text: remote" style="padding: 3px"></td>
            <td data-bind="text: sha.slice(0, 10)" style="padding: 3px"></td>
            <td data-bind="text: (imageId || '').replace('sha256:', '').slice(0, 10)" style="padding: 3px"></td>
            <td style="padding: 3px">
              <span class="label label-rounded" data-bind="text: $parents[1].toStatus(state), css: $parents[1].toStatusClass(state)"></span>
            </td>
            <td style="padding: 3px">
              <button class="btn btn-sm" data-bind="enable: state === 2, click: function() { $parents[1].rebuildBranch($parent, $data) }">Re-Build</button>
              <button class="btn btn-sm" data-bind="enable: $data.imageId.length > 0, click: function() { $parents[1].runImage($data.image) }">Run</button>
              <button class="btn btn-sm" data-bind="click: $parents[1].removeImage">Remove Image</button>
            </td>
          </tr>
          <!-- /ko -->
        </table>

      </td>
    </tr>

  </tbody>
</table>

<ko-create-application></ko-create-application>

<ko-edit-application></ko-edit-application>

<ko-deploy-application></ko-deploy-application>

<ko-application-logs></ko-application-logs>

<ko-run-image></ko-run-image>