<table class="table table-condensed table-hover" data-bind="foreach: allItems">
    <tbody data-bind="visible: $parent.isDisplayedConfig(item.id())">
        <tr>
            <th class="active" colspan="2">
                <div style="display: flex; justify-content: space-between">
                    <div>
                        <button class="btn btn-warning btn-xs" data-bind="click: startEditing, visible: startEditing.canExecute">Edit</button>
                        <button class="btn btn-warning btn-xs" data-bind="click: stopEditing, visible: stopEditing.canExecute">Stop Editing</button>
                    </div>
                    <div>
                        <button class="btn btn-success btn-xs" data-bind="click: $parent.saveAll.execute, enable: $parent.saveAll.canExecute" style="margin-bottom: 4px">
                            Save Changes
                        </button>
                        <button class="btn btn-danger btn-xs" data-bind="click: $parent.discardAll.execute, enable: $parent.discardAll.canExecute" style="margin-bottom: 4px">
                            Discard Changes
                        </button>   
                    </div>
                </div>
            </th>
            <tbody data-bind="foreach: { data: $parent.rowItems, as: 'pair' }">

                <tr>
                    <th style="width: 240px" class="active">
                        <span data-bind="text: pair.key"></span>
                    </th>
                    <td>
                        <span data-bind="if: pair.checkbox === true">                    
                        <input type="checkbox" data-bind="checked: $parent.item[pair.value], enable: $parent.isEditing" />
                    </span>
                        <span data-bind="if: pair.checkbox === false">
                        <input class="form-control input-sm" data-bind="textInput: $parent.item[pair.value], enable: $parent.isEditing" />
                    </span>
                    </td>
                </tr>
            </tbody>

    </tbody>
</table>