<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">Monitor Containers
    <input type="checkbox" data-bind="checked: isPolling">
  </div>

</div>

<table class="table table-condensed table-hover">
  <tr class="active">
    <th></th>
    <th>Id</th>
    <th>Label</th>
    <th>Subdomain</th>
    <th>Variant</th>
    <th>Memory</th>
    <th>CPU</th>
    <th>Location</th>
    <th>Is Active</th>
    <th>Variables</th>
    <th>Docker Id</th>
    <th>
      <div class="btn-group">
        <a href "#" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
          <span style="white-space: nowrap;">Actions
                        <span class="caret"></span>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li>
            <a data-bind="click: openCreateModal">Create New</a>
            <li>
              <a data-bind="click: saveAll.execute, visible: saveAll.canExecute">Save All</a>
            </li>
            <li>
              <a data-bind="click: discardAll.execute, visible: discardAll.canExecute">Discard Changes</a>
            </li>
        </ul>
      </div>
      <button class="btn btn-primary btn-xs" data-bind="click: loadFromServer">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </th>
  </tr>
  <tbody data-bind="foreach: allItems">
    <tr data-bind="css: item.runClass">
      <td style="width: 2px;" data-bind="style: { background: isDirty() ? 'red' : 'transparent' }"></td>
      <td data-bind="text: item.id"></td>
      <td>
        <input class="form-control input-sm" data-bind="textInput: item.label, enable: isEditing">
      </td>
      <td>
        <span data-bind="text: item.subdomain"></span>
      </td>
      <td>
        <span data-bind="text: item.applicationName() + '/' + item.variant()"></span>
      </td>
      <td style="width: 81px">
        <span data-bind="text: item.memory"></span>
      </td>
      <td style="width: 70px">
        <span data-bind="text: item.cpu"></span>
      </td>
      <td>
        <a data-bind="attr: { href: item.getLocation() }, visible: item.hasValidPort" target="_blank">
          <span data-bind="text: item.getLocation()"></span>
        </a>
        <span data-bind="text: item.getLocation(), visible: item.hasValidPort() === false">
          
        </span>
        <span data-bind="visible: !item.hasValidPort">Container off</span>
      </td>
      <td>
        <input type="checkbox" data-bind="checked: item.isProxying, enable: isEditing" />
      </td>
      <td>
        <span data-bind="text: item.variables"></span>
      </td>
      <td>
        <span data-bind="text: item.shortDockerId()"></span>
      </td>
      <td style="vertical-align: middle;">
        <div class="btn-group">
          <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span style="white-space: nowrap;">Actions <span class="caret"></span></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
              <a data-bind="click: function() {$parent.getInfo(item.id())}">Information</a>
            </li>
            <li>
              <a data-bind="click: function() {$parent.getStats(item.id(), item.subdomain())}">Statistics</a>
            </li>
            <li>
              <a data-bind="attr: { href: item.volumeUrl() }">Download App Data</a>
            </li>
            <li>
              <a data-bind="click: function() { $parent.change(item); }">Change Variant</a>
            </li>
            <li>
              <a data-bind="click: function() { $parent.fork(item); }">Fork Container</a>
            </li>
            <li>
              <a data-bind="click: startEditing, visible: startEditing.canExecute">Edit</a>
            </li>
            <li>
              <a data-bind="click: stopEditing, visible: stopEditing.canExecute">Stop Editing</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" data-bind="showModal: isModalOpen">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <span data-bind="text: newContainerTitle"></span>
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">Label</label>
            <div class="col-sm-9">
              <input class="form-control input-sm" data-bind="textInput: selectedLabel, enable: isLabelEditable">
            </div>
          </div>

          <div class="form-group" data-bind="visible: showApplications">
            <label class="control-label col-sm-3">Application</label>
            <div class="col-sm-9">
              <select class="form-control input-sm" data-bind="options: applications,
                           optionsText: function(item) {
                             return item.name;
                           },
                           value: selectedApplication"></select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Variant</label>
            <div class="col-sm-9">
              <select class="form-control input-sm" data-bind="options: variants,
                           optionsText: 'name',
                           value: selectedVariant"></select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Subdomain</label>
            <div class="col-sm-9">
              <input class="form-control input-sm" data-bind="textInput: selectedSubdomain, enable: isSubdomainEditable">
            </div>
          </div>
          <div class="form-group" data-bind="visible: isVolumeEditable">
            <label class="control-label col-sm-3">App Data (.tar) (Optional)
            </label>
            <div class="col-sm-9">
              <input type="file" data-bind="
                fileInput: selectedVolume,
                fileDrag: selectedVolume,
                customFileInput: {
                  buttonClass: 'btn btn-primary',
                  fileNameClass: 'disabled form-control'
                }" accept=".db">
            </div>
          </div>
          <!-- ko if: variables().length > 0 -->
          <label class="">Environment Variables</label>

          <!-- /ko -->

          <!-- ko foreach: variables -->
          <div class="form-group">
            <label class="control-label col-sm-3" data-bind="text: key"></label>
            <div class="col-sm-9">
              <input class="form-control input-sm" data-bind="textInput: value">
            </div>
          </div>
          <!-- /ko -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" data-bind="click: saveContainer">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bind="showModal: isInfoModalOpen">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Container Information</h4>
      </div>
      <div class="modal-body">
        <x-container-info params="id: infoContainerId"></x-containers-info>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-sm" data-bind="click: stopContainer">
          <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button class="btn btn-default btn-sm" data-bind="click: startContainer">
          <span class="glyphicon glyphicon-play"></span>
        </button>
        <button class="btn btn-danger btn-sm" data-bind="click: deleteContainer">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bind="showModal: isStatsModalOpen">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Container Statistics:
          <span data-bind="text: containerStatsName"></span>
        </h4>

      </div>
      <div class="modal-body">
        <div id="chart"></div>
        <div class="row">
          <div class="col-md-6">
            <div id="chart-cpu"></div>
            <div style="text-align: center">CPU Usage</div>
          </div>
          <div class="col-md-6">
            <div id="chart-memory"></div>
            <div style="text-align: center">Memory Usage</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-sm" data-bind="click: refreshStats">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <button class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>