*.suo
*.sln
*.dat
*.tmp
*.map
bin/
obj/
.tscache/
node_modules/
bower_components/
Gruntfile.*
*.txt
WebEssentials-Settings.json
.brackets.json
*.db
!variants-test.db
*.swp
*.*~
.settings/
jspm_packages/
*.log
variants.db-journal
archive/Dockerfile
archive/*.tar
certificates/
repositories/
!repositories/.gitkeep
.vagrant/
*.js
!front/libs/*.js
*.lock