<ko-link class="btn btn-link" params="href: '/containers'">&lt; Back to Containers</ko-link>

<h4>
  Details: <span data-bind="text: container().name"></span>
  <span style="float: right">
    <button class="btn btn-md" data-bind="click: stopContainer, visible: showStopButton, disable: containerWaiting">Stop</button>
    <button class="btn btn-md" data-bind="click: startContainer, visible: showStartButton, disable: containerWaiting">Start</button>
    <button class="btn btn-md" data-bind="click: removeContainer, disable: containerWaiting">Remove</button>
  </span>
</h4>
<ko-container-details></ko-container-details>

<div class="divider"></div>

<h4>
  Performance Statistics
  <span style="float: right">
    <button class="btn btn-md" data-bind="click: refreshStatistics, disable: containerWaiting">Refresh Charts</button>
  </span>
</h4>
<ko-container-stats></ko-container-stats>

<div class="divider"></div>

<h4>Logs</h4>
<ko-container-logs></ko-container-logs>
</div>