<div class="modal" data-bind="css: { active: modalActive }">
  <div class="modal-overlay" data-bind="click: hideModal"></div>
  <div class="modal-container" style="min-width: 80vw">
    <div class="modal-header">
      <button class="btn btn-clear float-right" data-bind="click: hideModal"></button>
      <div class="modal-title">

        <div class="navbar">
          <section class="navbar-section">
            <span style="margin-right: 5px; margin-top: 15px">
              <h5><strong data-bind="text: container().name"></strong></h5>
            </span>
            <ul class="tab">
              <li class="tab-item">
                <a class="btn btn-link" data-bind="click: viewDetails">Details</a>
              </li>
              <li class="tab-item">
                <a class="btn btn-link" data-bind="click: viewStats">Performance</a>
              </li>
              <li class="tab-item">
                <a class="btn btn-link" data-bind="click: viewLogs">Logs</a>
              </li>
            </ul>
          </section>
          <section class="navbar-center"></section>
        </div>

      </div>
    </div>
    <div class="modal-body" style="max-height: 80vh">
      <div class="content" data-bind="component: currentComponent">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-md" data-bind="click: refreshStatistics">Refresh Charts</button>
      <button class="btn btn-md" data-bind="
        visible: showStopButton,
        click: stopContainer,
        disable: containerWaiting">Stop</button>

      <button class="btn btn-md" data-bind="
        visible: showStartButton,
        click: startContainer,
        disable: containerWaiting">Start</button>
      <button class="btn btn-md" data-bind="disable: containerWaiting, click: removeContainer">Remove</button>
    </div>
  </div>
</div>