<div class="modal" data-bind="css: { active: modalActive }">
  <div class="modal-overlay" data-bind="click: hideModal"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" data-bind="click: hideModal"></button>
      <div class="modal-title">
        <span data-bind="text: container().name"></span>
      </div>
    </div>
    <div class="modal-body">
      <div class="content">
        <div class="container">
          <div class="columns">

            <div class="column col-2"><b>Id</b></div>
            <div class="column col-10" data-bind="text: container().id"></div>

            <div class="column col-2"><b>Image</b></div>
            <div class="column col-10" data-bind="text: container().image"></div>

            <div class="column col-2"><b>State</b></div>
            <div class="column col-10" data-bind="text: container().state"></div>

            <div class="column col-2"><b>Status</b></div>
            <div class="column col-10" data-bind="text: container().status"></div>

            <div class="column col-2"><b>Urls</b></div>
            <div class="column col-10" data-bind="foreach: container().ports">
              <div>
                <b data-bind="text: private"></b>
                <a data-bind="attr: { href: url }, text: url" target="_blank"></a>
              </div>
            </div>

            <div class="column col-2"><b>Data In/Out</b></div>
            <div class="column col-10">
              <span data-bind="text: container().stats.mbIn"></span> /
              <span data-bind="text: container().stats.mbOut"></span>
            </div>

            <div class="divider"></div>

            <div class="column col-12">
              <div id="cpu-chart"></div>
            </div>

            <div class="divider"></div>

            <div class="column col-12">
              <div id="memory-chart"></div>
            </div>
            <ko-stats></ko-stats>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-md" data-bind="click: refreshStatistics">Refresh Charts</button>
      <button class="btn btn-md" data-bind="
        visible: showStopButton,
        click: stopContainer,
        disable: containerWaiting">Stop</button>

      <button class="btn btn-md" data-bind="
        visible: showStartButton,
        click: startContainer,
        disable: containerWaiting">Start</button>
      <button class="btn btn-md" data-bind="disable: containerWaiting, click: removeContainer">Remove</button>
    </div>
  </div>
</div>