<!-- ko if: monitors().length === 0 -->
<h3>No application monitors are being deployed</h3>
<!-- /ko -->

<!-- ko if: monitors().length > 0 -->
<div class="container">
  <div class="columns">
    <div class="col-12">

      <div class="form">
        <div class="form-group">
          <label class="form-label">Application Deployments</label>
          <select class="form-select" data-bind="options: monitors, optionsText: 'name', value: selectedMonitor"></select>
        </div>
      </div>
    </div>

    <div classs="col-1"></div>
    <div class="col-10" data-bind="foreach: monitorEntries">
      <pre data-bind="text: $data"></pre>
    </div>
    <div class="col-1"></div>

  </div>
</div>
<!-- /ko -->