<table class="table table-condensed table-hover">
  <tr class="active">
    <th>Subdomain</th>
    <th>Application</th>
    <th>Variant</th>
    <th>Archived</th>
  </tr>
  <tbody data-bind="foreach: allItems">
    <tr>
      <td>
        <a data-bind="attr: { href: item.databaseLink }">
          <span data-bind="text: item.subdomain"></span>
        </a>
      </td>
      <td data-bind="text: item.application"></td>
      <td>
        <span data-bind="text: item.variant"></span>
      </td>
      <td>
        <span data-bind="text: item.date"></span>
      </td>
    </tr>
  </tbody>
</table>