<div class="container">
  <div class="columns">
    <div class="col-2">
      <button class="btn btn-md" data-bind="click: showCreateModal">Create</button>
      <button class="btn btn-md" data-bind="click: refresh">Refresh</button>
    </div>

    <div class="col-10">
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody data-bind="foreach: credentials">
    <tr>
      <td data-bind="text: name"></td>
      <td data-bind="text: username"></td>
      <td>
        <button class="btn btn-md" data-bind="click: $parent.showEditModal">Edit</button>
        <button class="btn btn-md" data-bind="click: $parent.removeCredentials">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

<ko-create-credentials></ko-create-credentials>

<ko-edit-credentials></ko-edit-credentials>