<table class="table table-condensed table-hover">
    <tr class="active">
        <th></th>
        <th>
            <input type="checkbox" data-bind="checked: isAllSelected" />
        </th>
        <th>Hostname</th>
        <th>Capacity</th>
        <th>Docker Port</th>
        <th>SSH Port</th>
        <th>SSH Username</th>
        <th>SSH Key</th>
        <th>
            <div class="btn-group">
              <a href "#" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span style="white-space: nowrap;">Actions
                        <span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a data-bind="click: createItem.execute, visible: createItem.canExecute">Create</a></li>
                    <li><a data-bind="click: saveAll.execute, visible: saveAll.canExecute">Save All</a></li>
                    <li><a data-bind="click: discardAll.execute, visible: discardAll.canExecute">Discard Changes</a></li>
                </ul>
            </div>
            <button
                class="btn btn-xs btn-primary"
                data-bind="click: loadFromServer">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </th>
    </tr>
    <tbody data-bind="foreach: allItems">
        <tr>
            <td style="width: 2px;" data-bind="style: { background: isDirty() ? 'red' : 'transparent' }"></td>
            <td>
                <input type="checkbox" data-bind="checked: isSelected" />
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.hostname, enable: isEditing">
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.capacity, enable: isEditing">
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.dockerPort, enable: isEditing">
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.sshPort, enable: isEditing">
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.sshUsername, enable: isEditing">
            </td>
            <td>
                <input class="form-control input-sm" type="text" data-bind="textInput: item.privateKey, enable: isEditing" style="max-width: 75px">
            </td>
            <td style="vertical-align: middle;">
                <div class="btn-group" style="margin: 0px">
                    <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span style="white-space: nowrap;">Actions
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a data-bind="click: startEditing, visible: startEditing.canExecute">Edit</a></li>
                        <li><a data-bind="click: stopEditing, visible: stopEditing.canExecute">Stop Editing</a></li>
                        <li><a data-bind="click: undoEditing, visible: undoEditing.canExecute">Undo Changes</a></li>
                        <li><a data-bind="click: $data.delete, visible: $data.delete.canExecute">Delete</a></li>
                        <li><a data-bind="click: undelete, visible: undelete.canExecute">Undelete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
