<div style="display: flex; justify-content: flex-end">
    <x-tags></x-tags>
</div>
<table class="table table-condensed table-hover">
    <tr class="active">
        <th></th>
        <th>Application</th>
        <th>Tag</th>
        <th>Build Status</th>
        <th>Build Time</th>
        <th>
            <button class="btn btn-xs btn-primary" data-bind="click: loadFromServer">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </th>
    </tr>
    <tbody data-bind="foreach: allItems">
        <tr>
            <td style="width: 2px;" data-bind="style: { background: isDirty() ? 'red' : 'transparent' }"></td>
            <td data-bind="text: item.application"></td>
            <td data-bind="text: item.name"></td>
            <td data-bind="text: item.buildState"></td>
            <td data-bind="text: $parent.toDateString(item.buildTime())"></td>
            <td>
                <button class="btn btn-danger btn-xs" data-bind="click: function() { $parent.deleteVariant(item); }">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>